@model DoAn.Models.ShoppingCart
@{
    ViewData["Title"] = "Cart";
}

<main>
    <div id="product">
        <section id="product-card1">
            <div class="product-card1">
                <div class="product-card1__title">
                    <h2>Giỏ hàng</h2>
                    <div class="product-card1__wrapper table-row column-12">
                        <div class="container">
                            <div class="product-card1__content">
                                <form class="product-card1__form">
                                    <table class="shop-table">
                                        <thead>
                                            <tr>
                                                <th class="shop-table__thumbnail">&nbsp;</th>
                                                <th class="shop-table__name">Sản phẩm </th>
                                                <th class="shop-table__price">Giá</th>
                                                <th class="shop-table__quanlity">Số lượng </th>
                                                <th class="shop-table__subTotal">Tổng</th>
                                                <th class="shop-table__thumbnail">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in ViewBag.cart)
                                                {

                                           <tbody>
                                                <tr class="shop-table__items">
                                                    <td class="shop-table__thumbnail">
                                                        <div class="shop-table__contentImg"><img class="shop-table_img" src="~/user/assets/images/page/product-card/pc-img-product.png" alt="product-card"></div>
                                                    </td>
                                                    <td class="shop-table__name">
                                                        <div class="shop-table__contentName"><a href="#">@item.Name</a></div>
                                                    </td>
                                                    <td class="shop-table__price">
                                                        <div class="shop-table__contentPrice">
                                                            <p>@item.Price<span>đ</span></p>
                                                        </div>
                                                    </td>
                                                    <td class="shop-table__quanlity">
                                                        <div class="shop-table__contentQuanlity">
                                                            <input class="shop-table__contentQuanlity--input" type="text" id="quanlity" value="@item.Quantity">
                                                            <div class="shop-table__contentQuanlity--button">
                                                                <button class="shop-table__contentQuanlity--add">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8">
                                                                        <path id="Polygon_14" data-name="Polygon 14" d="M4,0,8,8H0Z" fill="#212121" />
                                                                    </svg>
                                                                </button>
                                                                <button class="shop-table__contentQuanlity--minus">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12.411" height="12.411" viewBox="0 0 12.411 12.411">
                                                                        <path id="Polygon_23" data-name="Polygon 23" d="M6,0l6,12H0Z" transform="matrix(-0.999, -0.035, 0.035, -0.999, 11.993, 12.411)" fill="#212121" />
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="shop-table__subTotal">
                                                        <div class="shop-table__contentSubTotal">
                                                            <p>@(item.Price * item.Quantity)<span>đ</span></p>
                                                        </div>
                                                    </td>
                                                    <td class="shop-table__thumbnail">
                                                        <div class="shop-table__contentthumnail">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="15.575" height="15.576" viewBox="0 0 15.575 15.576">
                                                                <g id="Group_2188" data-name="Group 2188" transform="translate(-1707.379 -588.879)">
                                                                    <path id="Path_13982" data-name="Path 13982" d="M6077.334,16381.318l11.333-11.334" transform="translate(-4367.834 -15778.984)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="3" />
                                                                    <path id="Path_13983" data-name="Path 13983" d="M6088.667,16381.318l-11.333-11.334" transform="translate(-4367.834 -15778.984)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="3" />
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                </form>
                                <div class="product-card1__button">
                                    <button class="product-card1__button--back" @Url.ActionLink("index","product")>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="32" viewBox="0 0 20 32">
                                            <g id="Group_2183" data-name="Group 2183" transform="translate(-245 -779)">
                                                <text id="_" data-name="&lt;" transform="translate(254 805)" fill="#fff" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="-8.209" y="0">&lt;</tspan></text>
                                                <text id="_-" data-name="-" transform="translate(260 805)" fill="#fff" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="-4.799" y="0">-</tspan></text>
                                            </g>
                                        </svg>
                                        <p >Tiếp tục mua sắp</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="product-card-2">
            <div class="product-card-2">
                <div class="container">
                    <div class="product-card-2__wrapper">
                        <div class="product-card-2__coreSale">
                            <div class="product-card-2__coreSale--title">
                                <h2>Mã giảm giá</h2>
                            </div>
                            <div class="product-card-2__coreSale--input">
                                <input type="text" id="coreDown" placeholder="mã giảm giá">
                            </div>
                            <div class="product-card-2__coreSale--more">
                                <button class="product-card-2__coreSale--button">
                                    <p>sử dụng mã giảm giá</p>
                                </button>
                            </div>
                        </div>
                        <div class="product-card-2__TotalProvisional">
                            <div class="product-card-2__TotalProvisional--priceProvisional">
                                <div class="title">
                                    <h3>Tạm Tính</h3>
                                </div>
                                <div class="price">
                                    <p>@ViewBag.Total<span>đ</span></p>
                                </div>
                            </div>
                            <div class="product-card-2__TotalProvisional--ship">
                                <div class="title">
                                    <h3>Giao Hàng </h3>
                                </div>
                                <div class="desc">
                                    <p> Giao Hàng Tận Nơi, Miễn Phí Vận Chuyển.</p>
                                </div>
                            </div>
                            <div class="product-card-2__TotalProvisional--priceTotal">
                                <div class="title">
                                    <h3>Tổng </h3>
                                </div>
                                <div class="priceTotal">
                                    <p>@ViewBag.Total<span>đ</span></p>
                                </div>
                            </div>
                            <div class="product-card-2__TotalProvisional--more">
                                <button class="product-card-2__TotalProvisional--button">
                                    <p>Tiến hành thanh toán</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>