@model DoAn.Models.Image
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"@*>@ViewBag.Product.Name*@ </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <td></td>
                                    <th>Desciption</th>
                                    <th>Path</th>
                                    <th>Featured</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Images)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <img src="@item.Path" height="100" width="120" />
                                        </td>
                                        <td>@item.Desciption</td>
                                        <td>@item.Path</td>
                                        <td>@item.Featured</td>
                                        <td>@(item.Status ? "Show" : "Hide")</td>
                                        <td>
                                            <a class="btn btn-info btn-sm"
                                               href="@Url.Action("edit","gallery", new { id = item.Id })">
                                                <i class="fas fa-pencil-alt"></i>
                                                Edit
                                            </a>
                                            <a class="btn btn-danger btn-sm"
                                               href="@Url.Action("delete","gallery", new { id = item.Id })"
                                               onclick="return confirm('Are you sure? ')">
                                                <i class="fas fa-trash"></i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <td></td>
                                    <th>Description</th>
                                    <th>Path</th>
                                    <th>Featured</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button onclick="@Url.Action("index","product", new {area="admin" })"
                                type="submit" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>